:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(322, 100%, 76%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.outside-container {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.inside-container {
  min-width: 300px;
}

header {
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: var(--very-pale-cyan);
  margin: -2rem -1rem;
  padding: 2rem 1rem;
}
@media screen and (min-width: 900px) {
  header {
    padding: 3rem 6rem;
  }
}

.header1::after {
  content: "";
  position: absolute;
  height: 800px;
  width: 100vw;
  top: 0rem;
  left: 0rem;
  z-index: 10;
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: var(--very-pale-cyan);
  z-index: -1;
}
@media screen and (min-width: 700px) {
  .header1::after {
    background-image: url("../images/bg-hero-desktop.svg");
  }
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 700px) {
  header nav {
    margin-bottom: 3rem;
  }
}
header nav .logo img {
  width: 100px;
}
@media screen and (min-width: 700px) {
  header nav .logo img {
    width: 150px;
  }
}
header nav button {
  padding: 0.51rem 1rem;
  background-color: rgba(255, 255, 255, 0.966);
  color: var(--very-dark-cyan);
  font-weight: 700;
  font-size: 0.6rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  box-shadow: 0 0 3px 0 rgba(104, 103, 103, 0.856);
}
@media screen and (min-width: 700px) {
  header nav button {
    padding: 1rem 3rem;
    font-size: 0.9rem;
  }
}
header nav button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(212, 112, 243, 0.973);
}

header .section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 700px) {
  header .section1 {
    align-items: flex-start;
  }
}
header .section1 h1 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 2rem 3rem;
}
@media screen and (min-width: 700px) {
  header .section1 h1 {
    font-size: 1.6rem;
    text-align: left;
  }
}
header .section1 p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 0 2.5rem;
}
@media screen and (min-width: 700px) {
  header .section1 p {
    font-size: 1rem;
    text-align: left;
  }
}
header .section1 button {
  padding: 0.5rem 3rem;
  margin: 2rem 0;
}
header .section1 button {
  padding: 0.81rem 2rem;
  background-color: var(--pink);
  color: white;
  font-weight: 700;
  font-size: 0.7rem;
  border-radius: 3rem;
  width: 70%;
  outline: none;
  border: none;
  box-shadow: 0 0 10px 0 rgba(104, 103, 103, 0.856);
}
header .section1 button:hover {
  background-color: var(--light-pink);
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  header .section1 button {
    margin-left: 2rem;
  }
}

header .section2 {
  display: flex;
  justify-content: center;
}
header .section2 img {
  width: 80%;
}

@media screen and (min-width: 700px) {
  header .sections {
    display: flex;
    flex-direction: row;
  }
}

main {
  margin: 6rem 0;
}
@media screen and (min-width: 900px) {
  main {
    padding: 3rem 6rem;
  }
}
main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main ul li {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgba(170, 165, 165, 0.336);
}
main ul li .image-wrap {
  width: 60%;
}
main ul li .image-wrap img {
  width: 100%;
}
main ul li h2 {
  font-size: 1.1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
main ul li p {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.3rem;
  color: var(--grayish-blue);
}

@media screen and (min-width: 700px) {
  main ul li {
    gap: 3rem;
    padding: 4rem;
  }
}
@media screen and (min-width: 700px) and (min-width: 900px) {
  main ul li {
    gap: 6rem;
  }
}
@media screen and (min-width: 700px) {
  main ul li:nth-child(1) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 700px) {
  main ul li:nth-child(2) {
    flex-direction: row;
  }
}
@media screen and (min-width: 700px) {
  main ul li:nth-child(3) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 700px) {
  main ul .text-wrap {
    flex: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  main ul .text-wrap h2 {
    font-size: 1.4rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 700px) and (min-width: 900px) {
  main ul .text-wrap h2 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 700px) {
  main ul .text-wrap p {
    font-size: 1rem;
    text-align: left;
  }
}
@media screen and (min-width: 700px) {
  main ul .image-wrap {
    flex: 1;
  }
}

main .ready {
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.205);
}
main .ready h2 {
  font-size: 1rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 900px) {
  main .ready h2 {
    font-size: 1.6rem;
  }
}
main .ready button {
  padding: 1rem 2rem;
  background-color: var(--pink);
  color: white;
  font-weight: 700;
  font-size: 0.7rem;
  border-radius: 3rem;
  width: 70%;
  outline: none;
  border: none;
  box-shadow: 0 0 10px 0 rgba(104, 103, 103, 0.856);
}
@media screen and (min-width: 900px) {
  main .ready button {
    font-size: 1rem;
    max-width: 400px;
  }
}
main .ready button:hover {
  background-color: var(--light-pink);
  cursor: pointer;
}

.inside-container footer {
  margin: 0 -2rem;
  margin-top: -10rem;
  background-color: var(--very-dark-cyan);
  padding: 0 2rem;
  padding-top: 12rem;
  color: white;
}
@media screen and (min-width: 900px) {
  .inside-container footer {
    padding: 3rem 6rem;
    padding-top: 12rem;
    margin-top: -14rem;
  }
}

.inside-container footer .section1 .logo {
  width: 40%;
  max-width: 150px;
}
.inside-container footer .section1 .logo img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(340deg) brightness(108%) contrast(107%);
  width: 100%;
}
.inside-container footer .section1 ul {
  list-style: none;
}
.inside-container footer .section1 ul li {
  margin: 1rem 0;
  padding-left: 3rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  position: relative;
}
.inside-container footer .section1 ul li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
.inside-container footer .section1 ul li:first-child::before {
  background-image: url("../images/icon-location.svg");
}
.inside-container footer .section1 ul li:nth-child(2)::before {
  background-image: url("../images/icon-phone.svg");
}
.inside-container footer .section1 ul li:last-child::before {
  background-image: url("../images/icon-email.svg");
}

.inside-container footer .section2 ul {
  padding: 2rem 0;
  list-style: none;
}
.inside-container footer .section2 ul li {
  font-size: 1rem;
  padding: 0.5rem 0;
}
.inside-container footer .section2 ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.inside-container footer .section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.inside-container footer .section3 .icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
}
.inside-container footer .section3 .icons > div {
  border: 1px solid white;
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.inside-container footer .section3 .icons > div:hover {
  cursor: pointer;
  color: var(--pink);
  border: 1px solid var(--pink);
}
.inside-container footer .section3 span {
  font-size: 0.6rem;
}

@media screen and (min-width: 700px) {
  .inside-container footer {
    display: flex;
  }
  .inside-container footer .section1 {
    flex: 1;
  }
  .inside-container footer .section1 .logo {
    width: 150px;
  }
  .inside-container footer .section2 {
    flex: 2;
  }
  .inside-container footer .section2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    place-content: center;
    margin-left: 3rem;
  }
  .inside-container footer .section2 ul li {
    text-align: left;
  }
  .inside-container footer .section3 {
    flex: 1;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */